body {
    font-family: Arial, sans-serif;
    background-color: #c9daf3;
    text-align: center;
}
.container{
    background-image: url(/img/repuestos.png);
    background-repeat: repeat;
    max-width: fit-content;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #333;
    color: white;
}
tr:nth-child(odd) {
    background-color: #d3d3d3;
}
tr:nth-child(even) {
    background-color: #a9a9a9;
}
tr:hover {
    background-color: black;
    color: white;
}
